.container {
  width: 100vw;
}

.content {
  background: var(--profile);
  width: 1200px;

  margin: -4rem auto 1rem;

  display: flex;
  align-items: center;

  padding: 1rem;

  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.image {
  width: 8rem;
  height: 8rem;

  border-radius: 8px;
}

.profileContent {
  display: flex;
  justify-content: space-between;

  margin: 0.5rem 0 0.5rem;
}

.postsSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postsBanner {
  width: 1200px;
  margin: 1rem auto;

  display: flex;
  justify-content: space-between;
}

input {
  width: 1200px;

  background-color: var(--profile);
  border: 1px solid var(--border);

  padding: 1rem;
  margin: 0 auto;
}

.postCardContainer {
  width: 1200px;

  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
