.container {
  width: 100vw;
  height: 296px;
  background-color: linear-gradient(
    180deg,
    rgba(11, 27, 43, 1) 0%,
    rgba(20, 88, 156, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgLeft {
  padding-top: 3rem;
}
